# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
.venv/
venv/
env/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime Reports
# =========================
reports/

# =========================
# Test Cache
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Python Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Local Settings
# =========================
*.local

# =========================
# Playwright
# =========================
test-results/
playwright-report/